In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

import warnings
warnings.filterwarnings('ignore')

In [30]:
df = pd.read_csv("/content/Cost_data.csv")

In [31]:
df.head()

,Time_Period,Crop_type,State,Cost,Cost_of_Production,Operational_Cost,Fixed_Cost
0,2021_22,Paddy,Maharashtra,97597.0,4376,81228,26184
1,2021_22,Maize,Maharashtra,92343.0,1428,66158,26184
2,2021_22,Wheat,Maharashtra,69000.0,2814,53559,15360
3,2021_22,Jowar,Maharashtra,51536.0,3714,40158,11378
4,2021_22,Bajra,Maharashtra,72926.0,2696,58926,14000

In [32]:
sorted_df = df.sort_values(by="Crop_type")

In [33]:
sorted_df.head()

,Time_Period,Crop_type,State,Cost,Cost_of_Production,Operational_Cost,Fixed_Cost
24,2019_20,Bajra,Maharashtra,72926.0,2145,42362,15130
44,2017_18,Bajra,Maharashtra,48500.0,2114,34787,13698
34,2018_19,Bajra,Maharashtra,61070.0,1680,44632,16380
4,2021_22,Bajra,Maharashtra,72926.0,2696,58926,14000
14,2020_21,Bajra,Maharashtra,62228.0,2475,49475,12752

In [34]:
sorted_df.shape

(50, 7)

In [35]:
pd.set_option('display.max_rows', None)

In [36]:
sorted_df

,Time_Period,Crop_type,State,Cost,Cost_of_Production,Operational_Cost,Fixed_Cost
24,2019_20,Bajra,Maharashtra,72926.0,2145,42362,15130
44,2017_18,Bajra,Maharashtra,48500.0,2114,34787,13698
34,2018_19,Bajra,Maharashtra,61070.0,1680,44632,16380
4,2021_22,Bajra,Maharashtra,72926.0,2696,58926,14000
14,2020_21,Bajra,Maharashtra,62228.0,2475,49475,12752
39,2018_19,Cotton,Maharashtra,89570.0,6155,62408,22333
29,2019_20,Cotton,Maharashtra,84103.0,6126,62831,18368
19,2020_21,Cotton,Maharashtra,80900.0,6445,63840,79372
9,2021_22,Cotton,Maharashtra,98962.0,8450,76303,18406
49,2017_18,Cotton,Maharashtra,82930.0,3495,63275,19657
46,2017_18,Gram,Maharashtra,54076.0,4460,37514,16560
16,2020_21,Gram,Maharashtra,54181.0,4425,37617,15281
36,2018_19,Gram,Maharashtra,43598.0,4364,30388,12050
6,2021_22,Gram,Maharashtra,60020.0,4688,43814,15844
26,2019_20,Gram,Maharashtra,47160.0,4286,34404,12480
47,2017_18,Groundnut,Maharashtra,75509.0,6000,60639,14870
7,2021_22,Groundnut,Maharashtra,116118.0,10294,96820,19300
17,2020_21,Groundnut,Maharashtra,112410.0,8358,92430,19980
27,2019_20,Groundnut,Maharashtra,88680.0,7996,72752,15394
37,2018_19,Groundnut,Maharashtra,87524.0,7694,71664,15860
43,2017_18,Jowar,Maharashtra,50242.0,2670,35702,14480
3,2021_22,Jowar,Maharashtra,51536.0,3714,40158,11378
13,2020_21,Jowar,Maharashtra,49435.0,4388,38895,11122
33,2018_19,Jowar,Maharashtra,51150.0,3020,36622,13650
23,2019_20,Jowar,Maharashtra,NaN,3256,41016,16050
31,2018_19,Maize,Maharashtra,72300.0,1313,51083,21217
41,2017_18,Maize,Maharashtra,74750.0,1058,52578,22172
21,2019_20,Maize,Maharashtra,77057.0,1481,55476,21580
1,2021_22,Maize,Maharashtra,92343.0,1428,66158,26184
11,2020_21,Maize,Maharashtra,89175.0,1487,65867,23308
40,2017_18,Paddy,Maharashtra,88276.0,3020,69690,18197
10,2020_21,Paddy,Maharashtra,88514.0,4098,72985,14504
0,2021_22,Paddy,Maharashtra,97597.0,4376,81228,26184
30,2018_19,Paddy,Maharashtra,108044.0,3650,83195,18128
20,2019_20,Paddy,Maharashtra,102420.0,4026,79200,14565
8,2021_22,Soyabean,Maharashtra,70704.0,4755,53147,16758
28,2019_20,Soyabean,Maharashtra,55474.0,4094,39600,14455
38,2018_19,Soyabean,Maharashtra,48574.0,4058,34960,11590
18,2020_21,Soyabean,Maharashtra,57190.0,4377,43575,11805
48,2017_18,Soyabean,Maharashtra,46155.0,34820,35940,10214
15,2020_21,Sugarcane,Maharashtra,260509.0,255,191798,68425
45,2017_18,Sugarcane,Maharashtra,231707.0,212,164934,66772
5,2021_22,Sugarcane,Maharashtra,242598.0,235,178446,64151
25,2019_20,Sugarcane,Maharashtra,242598.0,246,120852,56106
35,2018_19,Sugarcane,Maharashtra,185156.0,215,132040,53116
32,2018_19,Wheat,Maharashtra,63907.0,2477,47384,16220
2,2021_22,Wheat,Maharashtra,69000.0,2814,53559,15360
12,2020_21,Wheat,Maharashtra,61886.0,2525,49945,1817
42,2017_18,Wheat,Maharashtra,56000.0,2548,38830,17146
22,2019_20,Wheat,Maharashtra,60607.0,2856,46021,13380

In [37]:
sorted_df.isna().sum()

Time_Period           0
Crop_type             0
State                 0
Cost                  1
Cost_of_Production    0
Operational_Cost      0
Fixed_Cost            0
dtype: int64

In [38]:
sorted_df['Cost'] = sorted_df.groupby('Crop_type')['Cost'].transform(lambda x: x.fillna(x.mean()))

In [39]:
# Data Preprocessing
def preprocess_data(df):
    # Convert Time_Period to numeric (extract year)
    df['Year'] = df['Time_Period'].apply(lambda x: int(x.split('_')[0]))

    # Encode categorical variables
    le = LabelEncoder()
    df['Crop_type_encoded'] = le.fit_transform(df['Crop_type'])

    # Create feature matrix X and target variable y
    X = df[['Year', 'Crop_type_encoded', "Cost_of_Production", "Operational_Cost", "Fixed_Cost"]]
    y = df['Cost']

    return X, y, le

In [40]:
X, y, label_encoder = preprocess_data(sorted_df)

In [41]:
# # Split the data
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [47]:
def Hypertuning(train_inputs, train_targets):
  params = {
      'n_estimators': [75, 100],
      'max_depth': [None, 1, 2, 3],
      'min_samples_split': [2, 3, 4, 5]
  }

  cv = 5
  rf_regressor = RandomForestRegressor()

  rf_grid = GridSearchCV(estimator= rf_regressor, param_grid=params, cv=cv, scoring='neg_mean_squared_error', n_jobs=-1)

  rf_grid.fit(train_inputs, train_targets)

  return rf_grid.best_params_

In [48]:
def train_and_evaluate_model(X, y, random_state=369):

    # Perform hyperparameter tuning
    best_params = Hypertuning(X, y)
    print(f"Best parameters: {best_params}")

    # Scale the features
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X)
    # X_test_scaled = scaler.transform(X_test)

    # Train model using best parameters
    rf_model = RandomForestRegressor(**best_params, random_state=random_state)
    rf_model.fit(X_train_scaled, y)

    # Make predictions
    y_train_pred = rf_model.predict(X_train_scaled)
    # y_test_pred = rf_model.predict(X_test_scaled)

    # Calculate metrics
    train_mse = mean_squared_error(y, y_train_pred)
    # test_mse = mean_squared_error(y_test, y_test_pred)
    train_r2 = r2_score(y, y_train_pred)
    # test_r2 = r2_score(y_test, y_test_pred)

    return rf_model, scaler, train_r2

In [50]:
model, scaler, r2 = train_and_evaluate_model(X, y)

Best parameters: {'max_depth': None, 'min_samples_split': 2, 'n_estimators': 75}

In [54]:
def analyze_feature_importance(model, feature_names):
    importances = model.feature_importances_
    importance_df = pd.DataFrame({
        'Feature': feature_names,
        'Importance': importances
    })
    return importance_df.sort_values('Importance', ascending=False)

In [55]:
def predict_crop_cost(model, scaler, le, year, crop_type, Cost_of_Production, Operational_Cost, Fixed_Cost):
    crop_encoded = le.transform([crop_type])[0]
    features = np.array([[year, crop_encoded, Cost_of_Production, Operational_Cost, Fixed_Cost]])
    features_scaled = scaler.transform(features)
    prediction = model.predict(features_scaled)[0]

    return prediction

In [58]:
year = input("Enter the year: ")
crop_type = input("Enter the crop type: ")
Cost_of_Production = float(input("Enter the cost of production: "))
Operational_Cost = float(input("Enter the operational cost: "))
Fixed_Cost = float(input("Enter the fixed cost: "))

Enter the year: 2019
Enter the crop type: Paddy
Enter the cost of production: 3268
Enter the operational cost: 74000
Enter the fixed cost: 14565

In [59]:
prediction = predict_crop_cost(model, scaler, label_encoder, year, crop_type, Cost_of_Production, Operational_Cost, Fixed_Cost)

print(f"\nPredicted cost for {crop_type} in {year}: ₹{prediction:.2f}")

Predicted cost for Paddy in 2019: ₹89540.73